<table class="table table-bordered table-hover">
        <thead> 
            <tr>
                <td>Rótulo</td>
                <td>País</td>
                <td>Departamento</td>
                <td>Uva</td>
                <td>Preço</td>
                <td>Nota</td>
                <td>Observação</td>
                <td colspan="2">
            </tr>
        </thead> 
        <tbody>        
           <%= render @produtos %>
        </tbody>
    </table>